@implements IDisposable

<div class="sideMenu col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark text-white">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <div class="text-center w-100 " style="margin-top:70px">
            CMS
        </div>
        <hr class="w-100 " />
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">

            <li class="nav-item w-100">
                <NavLink href="cmd-admin/index" class="nav-link d-flex">
                    <span class="svgHome bg-white"></span> <span class="ms-3 d-none d-sm-inline">صفحه اصلی</span>
                </NavLink>
            </li>

            <li class="nav-item w-100 mt-2">
                <NavLink href="cmd-admin/post/main" class="nav-link d-flex">
                    <span class="svgPost bg-white"></span> <span class="ms-3 d-none d-sm-inline">مطلب</span>
                </NavLink>
            </li>

            <li class="nav-item w-100 mt-2">
                <NavLink href="cmd-admin/comment/main" class="nav-link d-flex">
                    <span class="svgMessage bg-white"></span> <span class="ms-3 d-none d-sm-inline">
                        نظر
                        @if (status.CountComment > 0)
                        {
                            <span class="translate-middle badge rounded-pill bg-danger">@status.CountComment</span>
                        }
                    </span>
                </NavLink>
            </li>


            <li class="nav-item w-100 mt-2">
                <NavLink href="cmd-admin/menu/main" class="nav-link d-flex">
                    <span class="svgMenu bg-white"></span> <span class="ms-3 d-none d-sm-inline">منو</span>
                </NavLink>
            </li>

            <li class="nav-item w-100 mt-2">
                <NavLink href="cmd-admin/file-manager" class="nav-link d-flex">
                    <span class="svgGalleryImport bg-white"></span> <span class="ms-3 d-none d-sm-inline">فایل</span>
                </NavLink>
            </li>

            <li class="nav-item w-100 mt-2">
                <NavLink href="cmd-admin/setting" class="nav-link d-flex">
                    <span class="svgSetting bg-white"></span> <span class="ms-3 d-none d-sm-inline">ابزار</span>
                </NavLink>
            </li>

            <li class="nav-item w-100 mt-2">
                <NavLink href="cmd-admin/message/main" class="nav-link d-flex">
                    <span class="svgMessage bg-white"></span> <span class="ms-3 d-none d-sm-inline">
                        پیام
                        @if (status.CountMessage > 0)
                        {
                            <span class="translate-middle badge rounded-pill bg-danger">@status.CountMessage</span>
                        }
                    </span>
                </NavLink>
            </li>

            <li class="nav-item w-100 mt-2">
                <NavLink href="counter" class="nav-link d-flex">
                    <span class="svgSetting bg-white"></span> <span class="ms-3 d-none d-sm-inline">محصول</span>
                </NavLink>
            </li>

        </ul>
    </div>
</div>
@code {
    Model.Status status = new Model.Status();
    Dal.DataSource.StatusDataSource db = new Dal.DataSource.StatusDataSource();
    int delay = 1000 * 60 * 5;
    bool isTimer;

    protected override async void OnInitialized()
    {
        isTimer = true;
        await setStatus();
        startTimer();
    }
    public void Dispose()
    {
        isTimer = false;
    }
    async Task startTimer()
    {
        if (!isTimer)
            return;
        await Task.Delay(delay);

        if (!isTimer)
            return;

        await setStatus();

        StateHasChanged();
        startTimer();
    }


    async Task setStatus()
    {
        var result = await db.GetAsync();
        if (result.Data != null)
            status = result.Data;
    }
}
