<main class="container">
    <article style="max-width: 600px;margin: 50px auto 0;">
        <div class="card">

            <img src="/img/404.jpg">

            <div class="error-404 not-found default-max-width">
                <h2 class="p-4">صفحه مورد نظر پیدا نشد.</h2>
                <div class="p-4">
                    <p>مطلبی در این آدرس وجود ندارد یا حذف شده. میخواهید یک جستجو را امتحان کنید؟</p>
                    <form role="search" method="get" id="searchform" class="searchform" action="https://sitedesign308.com/">
                        <div class="input-group mb-3">
                            <input type="text" value="" name="s" id="s" class="form-control">
                            <input type="submit" id="searchsubmit" value="Search" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </article>
</main>
