
<div style="background: #d7d7d7; padding: 12px">
    <div class="container">
        <p>f</p><p margin-top:350px;>f</p><p margin-top:350px;>f</p><p margin-top:350px;>f</p>
    </div>
</div>

<div id="getToTop" onclick="getToTop()" class="diy d-hide">^</div>