<div class="bg-white">
    <div class="container">
        <div class="d-flex align-items-center justify-content-around p-3">
            <img src="@logo" style="width:70px" />
            <div style=" font-size: 16px; margin: 0.4375em 0 0;">

                <p class="site-title" style="font-weight: 700;font-size: 26px;margin: 0; color: var(--BaseColor) !important;">@title</p>
                <p class="site-description" style="font-weight: 700;color: #6c757d;">@comment</p>
            </div>
        </div>
    </div>
</div>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light p-0">
    <div class="container">
        <button class="navbar-toggler navbarIcon" type="button" onclick="getToTop()">
            <span class="navbar-toggler-icon" style="background-color:transparent"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav fw500">
                @foreach (var item in menus)
                {
                    <MenuItem Item="item" Child="false" />
                }


            </ul>
        </div>
        <li class="nav-Item navbarIcon">
            <span class="svgSearch"></span>
        </li>
    </div>
</nav>
<div id="fixNavbar" class="navbar navbar-expand-lg navbar-light fixed-top p-0 d-hide "></div>

@code {
    string logo = "";
    string title = "";
    string comment = "";
    List<CMS.Model.Menu> menus = new List<Model.Menu>();

    protected override async Task OnInitializedAsync()
    {
        logo = CMS.Model.Option.GetItem( Model.OptionType.Icon).Text;
        title = CMS.Model.Option.GetItem(Model.OptionType.Title).Text;
        comment = CMS.Model.Option.GetItem(Model.OptionType.Comment).Text;
        menus = CMS.Model.Menus.GetList(new Model.MenuVM { Published = true });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }
}
