@implements IDisposable
@inject StateContainer StateContainer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage localStorage
@inject IJSRuntime Js

<div class="bg-white">
    <div class="container">
        <div class="d-flex align-items-center justify-content-around p-3">
            <img src="@logo" style="width:70px" />
            <div style=" font-size: 16px; margin: 0.4375em 0 0;">

                <p class="site-title" style="font-weight: 700;font-size: 26px;margin: 0; color: var(--BaseColor) !important;">@title</p>
                <p class="site-description" style="font-weight: 700;color: #6c757d;">@comment</p>
            </div>
        </div>
    </div>
</div>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light p-0">
    <div class="container">
        <button class="navbar-toggler navbarIcon" type="button" onclick="getToTop()">
            <span class="navbar-toggler-icon" style="background-color:transparent"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav fw500">
                @foreach (var item in menus)
                {
                    <MenuItem Item="item" Child="false" />
                }


            </ul>
        </div>
        <div>
            <ul class="navbar-nav fw500">
                <li class="nav-Item navbarIcon">
                    <span class="svgSearch"></span>
                </li>
                <NavLink href="/basket" Match="NavLinkMatch.All">
                <li class="nav-Item navbarIcon" style="position:relative">
                    <span class="svgShoppingCart" ></span>
                    @if (count > 0)
                    {
                        <span class="badge12">@count</span>
                    }
                    </li>
                </NavLink>
            </ul>

        </div>
    </div>
</nav>
<div id="fixNavbar" class="disable navbar navbar-expand-lg navbar-light fixed-top p-0 d-hide"></div>

@code {
    string logo = "";
    string title = "";
    string comment = "";
    List<CMS.Model.Menu> menus = new List<Model.Menu>();
    int count = 0;

    protected override async Task OnInitializedAsync()
    {
        logo = CMS.Model.Option.GetItem( Model.OptionType.Icon).Text;
        title = CMS.Model.Option.GetItem(Model.OptionType.Title).Text;
        comment = CMS.Model.Option.GetItem(Model.OptionType.Comment).Text;
        menus = CMS.Model.Menus.GetList(new Model.MenuVM { Published = true });

        StateContainer.OnChangeShopCount += ChangeShopCount;
    }
    public void Dispose()
    {
        StateContainer.OnChangeShopCount -= ChangeShopCount;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ChangeShopCount();
        }
    }
    private async void ChangeShopCount()
    {
        var basket = await localStorage.GetAsync<List<string>>("basket");
        if (!basket.Success)
            return;
        count = basket.Value.ToList().Count;
        StateHasChanged();
        await Js.InvokeVoidAsync("setNavbar");
    }


}
