@page "/"
@using CMS.Helper;
@using CMS.Model;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage localStorage

<PageTitle>Index</PageTitle>

@{base.BuildRenderTree(__builder);}

<h1>Hello, world!</h1>

<input @bind="InputValue.UserName" type="text" />
<input @bind="InputValue.Password" type="password" />

<button type="button" @onclick="getToken">Click Me!</button>
@code {
    private User InputValue = new User();

    protected override async Task OnInitializedAsync()
    {
    }
    async Task getToken()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

}
