@page "/"
@using CMS.Model;
@inject IJSRuntime Js

<PageTitle>home</PageTitle>
@{base.BuildRenderTree(__builder);}


<Slide></Slide>

<div class="container main">
    <div class="mainSlideLeft">
        <p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p><p margin-top:350px;>d</p>
    </div>
    <div class="mainSlideRight">
        <div style="background: antiquewhite; margin-top:50px; padding:5px; height:200px">d</div>
        <div style="background: antiquewhite;padding:5px; height:200px">
            <div style=" background: #d9d9d9; height:100px; height: 50px"> wwwwd</div>
        </div>
    </div>
</div>
<div style="background: antiquewhite; margin-top:50px; padding:5px; height:200px">d</div>
<div style="background: antiquewhite; margin-top:50px; padding:5px; height:200px">d</div>



@code {
    [Parameter]
    public string name { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("PageInit");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
