@using CMS.Helper;
@using CMS.Model;

@if (Child?.Count > 0)
{
    <div class="tableMain mt-4">
        <div class="tableHeder text-center p-2">
            زیر مجموعه
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width:50px"></th>
                    <th scope="col">نام</th>
                    <th scope="col">نوع</th>
                    <th scope="col" style="width:50px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Child)
                {
                    <tr>
                        <th scope="row" style="text-align:center;cursor: pointer;color:var(--BaseColor);">
                        </th>
                        <td>@item.Name</td>
                        <td>@item.Type</td>
                        <td style="text-align:center">
                            <NavLink href='@($"cmd-admin/menu/edit/{item.UnicId}")' class="nav-link d-flex">
                                <span class="svgEdit"></span>
                            </NavLink>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public List<Menu>? Child { get; set; }
}
