@using CMS.Helper;
@using CMS.Model;

@if (Obj.EditItem.Child?.Count > 0)
{
    <hr class="mt-4" />
    <div class="tableMain mt-4">
        <div class="tableHeder text-center p-2">
            زیر مجموعه
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width:50px"></th>
                    <th scope="col">نام</th>
                    <th scope="col">نوع</th>
                    <th scope="col" style="width:50px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Obj.EditItem.Child)
                {
                    <tr class="@getNemwCalss(item)">
                        <th scope="row" style="text-align:center;cursor: pointer;color:var(--BaseColor);">
                            <div @onclick='(() => SetOrder(item,true))'>↑</div>
                            <div @onclick='(() => SetOrder(item,false))'>↓</div>
                        </th>
                        <td>@item.Name</td>
                        <td>@item.Type</td>
                        <td style="text-align:center">
                            <NavLink href='@($"cmd-admin/menu/edit/{item.UnicId}")' class="nav-link d-flex">
                                <span class="svgEdit"></span>
                            </NavLink>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public PageObj Obj { get; set; }
    [Parameter]
    public EventCallback selectItem { get; set; }

    private string getNemwCalss(Menu model)
    {
        return model.Published ? " cmc" : " text-danger";
    }

    private async void SetOrder(Model.Menu model, bool up)
    {
        await Obj.LoadHandler(true);

        var result = await Obj.Helper.SetOrder(model, up);

        if (!result.Success)
        {
            await Obj.ErrorRequest(result);
            return;
        }
        await Obj.LoadHandler(false);
        await selectItem.InvokeAsync();
        //setItem();
    }
}
