@page "/cmd-admin/setting"
@using CMS.Helper;
@using CMS.Model;

<PageTitle>setting</PageTitle>

<div>
    <NavLink href='cmd-admin/setting/general' class="btn btn-outline-secondary">
        عمومی
    </NavLink>
    <NavLink href='cmd-admin/setting/post' class="btn btn-outline-secondary">
        مطلب
    </NavLink>
    <NavLink href='cmd-admin/setting/home-slide' class="btn btn-outline-secondary">
        اسلاید صفحه اصلی
    </NavLink>

</div>

@code {
}
