@page "/{name?}"
@inherits BacePage<BasePageObj>
@using CMS.Model;
@inject IJSRuntime Js

<PageTitle>home</PageTitle>
@{
    base.BuildRenderTree(__builder);
}


@if (post != null)
{
    <div class="container main">
        <div class="mainSlideLeft">
            <div class="card rounded-0 w-100">
                <div style="max-height: 200px; position:relative">
                    <div class="postTitle">
                        <h1 class="h2">@post.Title</h1>
                    </div>
                    <img src="@post.Img" class="card-img-top rounded-0" alt="@post.Title">
                </div>
                <div class="card-body mt-3">
                    @((MarkupString)post.Content)
                </div>
            </div>
        </div>
        <RightMenu />
    </div>

}
else
{
    <Error404 />
}

@code {
    [Parameter]
    public string name { get; set; }

    CMS.Dal.DataSource.PostDataSource db = new CMS.Dal.DataSource.PostDataSource();

    public CMS.Model.Post post { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //await SeletePost();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
        await Js.InvokeVoidAsync("PageInit");
        await base.OnAfterRenderAsync(firstRender);
    }

    protected async override Task OnParametersSetAsync()
    {
        post = null;
        if (!string.IsNullOrEmpty(name))
            await SeletePost();
    }

    async Task SeletePost()
    {
        var result = await db.GetByAliasAsync(name, published: true, isProduct: false);
        if (result.Data == null)
            return;

        post = result.Data;
    }
}
