<div>
    <a href='cmd-admin/setting/general' class="btn btn-outline-secondary">
        عمومی
    </a>
    <a href='cmd-admin/setting/post' class="btn btn-outline-secondary">
        مطلب
    </a>
    <a href='cmd-admin/setting/home-slide' class="btn btn-outline-secondary">
        اسلاید صفحه اصلی
    </a>
    <a href='cmd-admin/setting/social' class="btn btn-outline-secondary">
        شبکه اجتماعی
    </a>

</div>