:root {
    --BaseColor: #9c730b;
    --BasebackgroundColor: #9c730b08;
}
.bg-BaseColor {
    background-color: var(--BaseColor) !important;
}
.bg-BasebackgroundColor {
    background-color: var(--BasebackgroundColor) !important;
}
.tx-BaseColor {
    color: var(--BaseColor) !important;
}
.tx-BasebackgroundColor {
    background-color: var(--BasebackgroundColor) !important;
}
