@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD.eot');
    src: url('../fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-FD.woff') format('woff'), url('../fonts/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold-FD.eot');
    src: url('../fonts/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Bold-FD.woff') format('woff'), url('../fonts/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light-FD.eot');
    src: url('../fonts/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Light-FD.woff') format('woff'), url('../fonts/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
}

body {
    direction:rtl;
    font-family: Vazir, Tahoma;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.card {
    overflow: hidden
}
.loding {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1040;
    background-color: rgb(0 0 0 / 10%);
    display: none;
}
.sideMenu a {
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important;
}
.ltr {
    direction: ltr;
    text-align: left;
}
.rtl {
    direction: rtl;
    text-align: right;
}
.tableMain {
    border: 1px solid #dee2e6;
    border-bottom: unset;
    border-top: unset;
}
.tableHeder {
    background: #dee2e6;
    padding: 5px;
}
    .tableHeder a {
        color: var(--BaseColor);
    }
.required{color:red}
.pagination a {
    cursor: pointer;
}