@using CMS.Model;

<div class="row mx-0">
    <div class="form-check form-switch mb-3 col-lg-4 col-md-6 col-sm-12">
        <input class="form-check-input" type="checkbox" @bind="Obj.EditItem.Published">
        <label class="form-check-label" >وضعیت انتشار</label>
    </div>
    <div class="form-check form-switch mb-3 col-lg-4 col-md-6 col-sm-12">
        <input class="form-check-input" type="checkbox" @bind="Obj.EditItem.Special">
        <label class="form-check-label">مطلب ویژه</label>
    </div>
</div>
<div class="row mx-0">
    <div class="form-check form-switch mb-3 col-lg-4 col-md-6 col-sm-12">
        <input class="form-check-input" type="checkbox" @bind="Obj.EditPostOptionItem.IsComment">
        <label class="form-check-label">نمایش نظر</label>
    </div>
    <div class="form-check form-switch mb-3 col-lg-4 col-md-6 col-sm-12">
        <input class="form-check-input" type="checkbox" @bind="Obj.EditPostOptionItem.IsScore">
        <label class="form-check-label">نمایش امتیاز</label>
    </div>
</div>
<div class="row mx-0">
    <div class="form-check form-switch mb-3 col-lg-4 col-md-6 col-sm-12">
        <input class="form-check-input" type="checkbox" @bind="Obj.EditPostOptionItem.NoFlow">
        <label class="form-check-label">No Flow</label>
    </div>
    <div class="form-check form-switch mb-3 col-lg-4 col-md-6 col-sm-12">
        <input class="form-check-input" type="checkbox" @bind="Obj.EditPostOptionItem.NoIndex">
        <label class="form-check-label">No Index</label>
    </div>
</div>
<div class="row">
    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
        <label class="form-label required">دسترسی</label>
        <select class="form-select " aria-label="Default select example" @bind="Obj.EditItem.Access">
            @foreach (Model.PostAccessType type in Enum.GetValues<Model.PostAccessType>())
            {
                <option value="@type">@type.ToString()</option>

            }
        </select>
    </div>
    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
        <label class="form-label">تاریخ اتمام انتشار</label>
        <input type="text" class="form-control" placeholder="2020-01-01" @bind="Obj.EditItem.PublishDownString">
    </div>
    <div class="form-check form-switch mb-3 col-lg-4 col-md-6 col-sm-12">
        <label class="form-check-label">Redirect link</label>
        <input type="text" class="form-control" @bind="Obj.EditPostOptionItem.Redirect">
    </div>
</div>
<div class="row mx-0">
</div>

<CMS.Pages.Inside.Menu.MenuPageImg Obj="Obj" Img="Obj.EditItem" />

@code {
    [Parameter]
    public PageObj Obj { get; set; }

}
