@using CMS.Model;

<div class="tableMain">
    <div class="tableHeder">
        <NavLink href='cmd-admin/post/add' class="btn">
            ایجاد
        </NavLink>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width:50px"></th>
                <th scope="col">نام</th>
                <th scope="col">نوع</th>
                <th scope="col" style="width:50px"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public PageObj Obj { get; set; }
}
