@using CMS.Model
@{
    var id = Guid.NewGuid().String();
}
<input id="PageId" type="hidden" value="@id">

<div class="card p-2">
    <div class="my-4" style="max-width: 600px;margin: auto;">
        <h4 class="c">آخرین وضعیت سفارش</h4>
        <p>برای اطلاع از آخرین وضعیت سفارش کد رهگیری خود را وارد کنید </p>
        <div class="input-group mb-3">
            <input id="code@(id)" type="text" class="form-control">
            <button onclick="trackingCode()" type="submit" id="searchsubmit" class="btn btn-primary">جستجو</button>
        </div>
    </div>
</div>

<div class="container main my-4">
    <div class="mainSlideLeft" style="margin: auto;">
        <div class="card p-3">
            <div id="items@(id)">
                
            </div>
            <div id="itemsEmpty@(id)" class="d-none">
                <div class="h4">سبد خرید شما خالی است</div>
                <div>مطلبی برای نمایش وجود ندارد</div>
            </div>
        </div>
    </div>
</div>

<script>
    PageInit();
    $(document).ready(function () {
        init();
    }); 
    var posts;
    var products;
    function trackingCode()
    {
        var c = $(GetPageId('code')).val()?.trim();
        if (!c)
            ShowAlertError("کد رهگیری را وارد کنید");
        else if (c.length != 10)
            ShowAlertError("کد رهگیری نامعتبر است");
        else 
            window.location.href = '/basket/tracking/' + c;
    }

    async function init() {
        var local = localStorage.getItem("basket");
        if (!local)
            return hide();
        var basket = JSON.parse(local);
        if (!basket || !basket.length || basket.length == 0)
            return hide();

        var result = await PostRequest("/Order/GetPost", { "model": basket });
        var data = result.data;
        if (!result.success || !result.data || result.data.posts.length == 0) {
            return hide();
        }
        posts = result.data.posts;
        products = result.data.products;

        setItems();
        show();
        getMany();
    }
    function setItems() {
        var html = '<table class="table table-striped"><thead><tr><th scope="col" style="width:50px">#</th><th scope="col" style="width:60px">تصویر</th><th scope="col">نام</th><th scope="col">قیمت</th><th scope="col" style="width:50px"></th></tr></thead><tbody>';

        posts.forEach((x, idx, arr) => {
            const _idx = idx + 1;
            const product = products.find(p => p.unicId == x.unicId);
            const price = product.specialPrice > 0 ? product.specialPrice : product.price;
            html += `<tr><th class="align-middle">${_idx}</th>`;
            html += `<td class="align-middle"><img src="${x.img}" /></td>`;
            html += `<td class="align-middle">${x.title}</td>`;
            html += `<td class="align-middle"><span class="many">${price}</span> <span style="font-size:10px"> تومان</span></td>`;
            html += `<td class="align-middle"><span class="svgClose" onclick="remove('${x.unicId}')"></span></td></tr>`;
        });

        const sum = products
            .map(item => item.specialPrice > 0 ? item.specialPrice : item.price)
            .reduce((prev, curr) => prev + curr, 0);
        html += `<tr><th class="align-middle"></th><td class="align-middle">جمع</td><td class="align-middle"></td><td class="align-middle"><span class="many">${sum}</span> <span style="font-size:10px"> تومان</span></td><td class="align-middle"></td></tr></tbody></table><a href="/basket/order" type="button" class="btn bg-BaseColor text-white mt-4">تکمیل خرید</a>`;

        $(GetPageId('items')).empty();
        $(GetPageId('items')).append(html);
    }
    function show() {
        $(GetPageId('itemsEmpty')).addClass("d-none");
        $(GetPageId('items')).removeClass("d-none");
    }
    function hide() {
        $(GetPageId('items')).addClass("d-none");
        $(GetPageId('itemsEmpty')).removeClass("d-none");
    }
    function remove(unicId) {
        posts = posts.filter(x => unicId != x.unicId);
        products = products.filter(x => unicId != x.unicId);
        const basket = posts.map(a => a.alias);
        localStorage.setItem("basket", JSON.stringify(basket));
        setItems();
        SetNavbarOrderBasketCount();
    }

   
</script>