@using CMS.Model
@{
    var id = Guid.NewGuid().String();
}

<input id="PageId" type="hidden" value="@id">

<div class="container main my-4">
    <div class="mainSlideLeft" style="margin: auto;">
        <div class="card p-3">

            <div id="isOrder@(id)" class="d-none">
                <div class="mb-4 card p-3 text-danger fw-bold d-block">
                    مجموعا <span id="postsCount@(id)"></span> سفارش به ارزش <span id="price@(id)"></span>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                        <label class="form-label required">نام</label>
                        <input id="FirstName@(id)"type="text" class="form-control">
                    </div>
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                        <label class="form-label required">نام خانوادگی</label>
                        <input id="LastName@(id)" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                        <label class="form-label required">شماره تماس</label>
                        <input id="Mobile@(id)" type="text" class="form-control">
                    </div>
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                        <label class="form-label">ایمیل</label>
                        <input id="Mail@(id)" type="text" class="form-control">
                    </div>
                </div>
                <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                    <label class="form-label">کدپستی</label>
                    <input id="PostalCode@(id)" type="text" class="form-control">
                </div>
                <div class="mb-3 col-lg-12 col-sm-12">
                    <label class="form-label required">آدرس</label>
                    <textarea id="Address@(id)" cols="45" rows="2" aria-required="true" class="form-control"></textarea>
                </div>
                <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                    <label class="form-label required">کد امنیتی</label>
                    <div class="captchaBax">
                        <span class="svgRefresh captchaIcon" onclick="CaptchaReload()"> </span>
                        <img id="captchaImg@(id)" class="captchaImg">
                        <input id="captchaText@(id)" type="text" placeholder="code" class="form-control captchaInput" maxlength="3" onkeypress="return /[0-9]/i.test(event.key)">
                        <input id="captchaKey@(id)" type="hidden">
                    </div>
                </div>
                <button onclick="order()" type="button" class="btn bg-BaseColor text-white mt-4">ثبت سفارش</button>
            </div>
            <div id="isOrderTrCode@(id)" class="d-none">
                <div class="staticAlert-success">سفارش شما با کد رهگیری زیر ثبت شد . برای پیگیری سفارش آن را ذخیره کنید</div>
                <div id="trCode@(id)" class="staticAlert-error fw-bold mt-4"></div>
            </div>
        </div>
    </div>
</div>


<script>
    PageInit();

    $(document).ready(function () {
        init();
    });

    async function init() {
        basket = getBasket();
        if (!basket)
            return;

        var result = await PostRequest("/Order/GetPost", { "model": basket });
        if (result.success && result.data && result.data.posts.length > 0) {
            $(GetPageId('isOrder')).removeClass("d-none");
            $(GetPageId('postsCount')).text(result.data.posts.length);
            const sum = result.data.products
                .map(item => item.specialPrice > 0 ? item.specialPrice : item.price)
                .reduce((prev, curr) => prev + curr, 0);
            $(GetPageId('price')).text(sum);
            CaptchaReload();
            return;
        }
    }

    async function order() {
        basket = getBasket();
        if (!basket)
            return;

        var model = {};
        model.ListBasket = basket;

        model.FirstName = $(GetPageId('FirstName')).val();
        model.LastName = $(GetPageId('LastName')).val();
        model.Mobile = $(GetPageId('Mobile')).val();
        model.Mail = $(GetPageId('Mail')).val();
        model.PostalCode = $(GetPageId('PostalCode')).val();
        model.Address = $(GetPageId('Address')).val();

        model.CaptchaText = $(GetPageId('captchaText')).val();
        model.CaptchaKey = $(GetPageId('captchaKey')).val();

        var result = await PostRequest("/SaveOrder", model);
        if (!result.success) {
            CaptchaReload();
            return;
        }

        localStorage.removeItem("basket");
        $(GetPageId('trCode')).text(result.data);
        $(GetPageId('isOrderTrCode')).removeClass("d-none");
        $(GetPageId('isOrder')).addClass("d-none");
        SetNavbarOrderBasketCount();

    }

    function getBasket() {
        var local = localStorage.getItem("basket");
        if (!local)
            return null;
        basket = JSON.parse(local);
        if (!basket || !basket.length || basket.length == 0)
            return null;
        return basket;
    }

</script>