@using CMS.Model
@{
    var id = Guid.NewGuid().String();
    var trackingCode = (string)ViewBag.TrackingCode;
}
<input id="PageId" type="hidden" value="@id">
<input id="TrackingCode@(id)" type="hidden" value="@trackingCode">

<div class="container main my-4">
    <div class="mainSlideLeft" style="margin: auto;">
        <div class="p-4 card">

            <div id="trCode@(id)">
                <div class="mb-4 p-3">
                    برای مشاهده اطلاعات مربوط به سفارش کد <span class="text-danger fw-bold">@trackingCode</span> امنیتی زیر را وارد کنید
                </div>
                <div class="mb-3 col-lg-4 col-md-6 col-sm-12">
                    <label class="form-label required">کد امنیتی</label>
                    <div class="captchaBax">
                        <span class="svgRefresh captchaIcon" onclick="CaptchaReload()"> </span>
                        <img id="captchaImg@(id)" class="captchaImg">
                        <input id="captchaText@(id)" type="text" placeholder="code" class="form-control captchaInput" maxlength="3" onkeypress="return /[0-9]/i.test(event.key)">
                        <input id="captchaKey@(id)" type="hidden" >
                    </div>
                </div>
                <button onclick="getItems()" type="button" class="btn bg-BaseColor text-white mt-4">ثبت سفارش</button>
            </div>
            <div id="items@(id)">
            </div>

        </div>

    </div>

</div>

<script>
    PageInit();

    $(document).ready(function () {
        CaptchaReload();
    });

    async function getItems() {
        var model = {};

        model.TrackingCode = $(GetPageId('TrackingCode')).val();
        model.CaptchaText = $(GetPageId('captchaText')).val();
        model.CaptchaKey = $(GetPageId('captchaKey')).val();

        var result = await PostRequest("/basket/tracking/getItems", model);
        if (!result.success) {
            CaptchaReload();
            return;
        }
        var data = result.data;
        $(GetPageId('trCode')).addClass("d-none");
        if (!data)
            return;
        var type = getEnumValue(OrderType, data.type)
        var html = `<div class="c"><span style="font-size: .8rem;">وضعیت:</span> <span class="fw-bold text-danger">${type}</span></div>`;
        html += `<div class="c"><span style="font-size: .8rem;">تاریخ ثبت سفارش:</span> <span class="fw-bold">${data.datePersion}</span></div>`;
        html += `<div class="mt-4"><label class="form-label">اقلام سفارش:</label></div>`;
        html += `<table class="table table-striped"><tbody>`;
        data.posts.map((x) => {
            html += `<tr><td style="width:60px" class="align-middle"><img src="${x.img}" /></td><td class="align-middle">${x.title}</td></tr>`;
        });
        html += `</tbody></table>`;
        if (data.text)
            html += `<div class="mt-3"><label class="form-label">پیام:</label></div><div>${data.text}</div>`;

        $(GetPageId('items')).empty();
        $(GetPageId('items')).append(html);
    }
</script>