@inherits LayoutComponentBase
@using CMS.Shared.Component;
@inject NavigationManager _navManager
@inject IJSRuntime Js

<PageTitle>CMS M l</PageTitle>


@if (_navManager.Uri.Contains("cmd-login"))
{
    @Body
}
else if (_navManager.Uri.Contains("cmd-admin"))
{
    <CheckToken>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <AdminNavMenu />
                <AdminSideMenu />

                <div class="col py-3" style="margin: 40px 0 20px 0;">
                    @Body
                </div>

            </div>
        </div>
    </CheckToken>
}
else
{
    @((MarkupString)"<link rel=\"stylesheet\" href=\"/css/pSite.css\" />")
    <CMS.Pages.Outside.Navbar></CMS.Pages.Outside.Navbar>
    @Body
    <CMS.Pages.Outside.Fotter></CMS.Pages.Outside.Fotter>
}
<Modals></Modals>
@code{

}